<h1>新規ペット登録</h1>
<h2>ペット情報を入力してください</h2>
<div class="container">
  <% if @saved %>
    <h3>登録が完了しました。</h3>
  <% else %>
    <%= render partial: 'new_form', locals: { pet: @pet } %>
  <% end %>
</div>
<a href="<%= cg_users_path session_user.username %>">マイページに戻る</a>
