<div class="pets-new">
  <div class="box-wrapper">
    <h1>新規ペット登録</h1>
    <%= image_tag('icon/animal/dog_7.png', class: 'center-block') %>
    <h3>ペットの情報を入力してください</h3>
    <div class="container">
      <% if @saved %>
        <h3>登録が完了しました。</h3>
      <% else %>
        <%= render partial: 'new_form', locals: { pet: @pet } %>
      <% end %>
    </div>
    <div class="back-page">
      <%= link_to 'マイページに戻る', mypage_root_path %>
    </div>
  </div>
</div>
