<h1>Cg::Evs#edit</h1>
<p>Find me in app/views/cg/evs/edit.html.erb</p>
<p>状態: <%= @ev.info.value %></p>
<%= render partial: 'host_ev_form', locals: { ev: @ev, ev_edit: @ev_edit } if @ev.type == 'Cg::HostEv' %>
<%= render partial: 'user_ev_form', locals: { ev: @ev, ev_edit: @ev_edit } if @ev.type == 'Cg::UserEv' %>
