<div id='cgTitle'>
  <h1>CuteGift</h1>
  <h1><%= @user.name %>さん</h1>
  <h2>HOST_home画面</h2>
</div>
<hr>
<div class="container">
  <h3>おすすめ情報</h3>
  <ul>
    <% 100.times do |i| %>
    <li>testContent<%= i %></li>
    <% end %>
  </ul>
</div>
