<h1><%= @user.name %>さんの設定</h1>
<%= render partial: 'edit_form', locals: { user: @user, user_edit: @user_edit } %>

<% @user.pets.each do |pet| %>
  <p>
    <a href="<%= cg_settings_pets_path pet.petname %>"><%= pet.name %></a>
  </p>
<% end %>
