<div class="users-login">
  <div class="box-wrapper">
    <h1>ログイン</h1>
    <%= image_tag('icon/etc/b_45.png',class: 'center-block') %>
    <h3>CuteGiftへようこそ</h3>
    <Hr>
      <div class="container">
        <h2>ユーザ名とパスワードを入力してください</h2>
        <%= render partial: 'cg/users/login_form', locals: { error_code: @error_code, user: @user } %>
      </div>
    <Hr>
    <%= link_to(user_new_path) do %>
      <div class='container' style = '
        font-size: 24px;
        background-color: #ffffff5e;
        color: #576a8c;
        border: solid;'>
        新規登録
      </div>
    <% end %>

  </div>
</div>
