<h1>ログイン</h1>
<p>CuteGiftへようこそ</p>
<Hr>
  <div class="container">
    <h2>ユーザ名とパスワードを入力してください</h2>
<<<<<<< HEAD
    <%= render partial: 'login_form', locals: { error_code: @error_code} %>
=======
    <%= render partial: 'login_form', locals: { error_code: @error_code, user_name: @user_name } %>
>>>>>>> ログインフォーム追加
  </div>
<Hr>
<div class='container' style = 'background-color:white'>
  <h3><a href='/users/new'>新規登録</a></h3>
</div>
