<h1>新規ユーザ登録</h1>
<p>ユーザ情報を入力してください</p>
<div class="container">
  <% if !@error_code.present? && @user.present? %>
    <h3>登録が完了しました。</h3>
    <p><%= @user&.to_json %></p>
  <% else %>
    <%= render partial: 'new_form', locals: { error_code: @error_code, user_new_path: method(:user_new_path) } %>
  <% end %>
</div>
