<h1>新規ユーザ登録</h1>
<p>ユーザ情報を入力してください</p>
<div class="container">
  <p><% @user&.to_json %></p>
  <%= render partial: 'new_form', locals: { error_code: @error_code, user_new_path: method(:user_new_path) } %>
</div>
