<h1>Cg::DmGroups#show</h1>
<p>Find me in app/views/cg/dm_groups/list.html.erb</p>
<div id="dm_list">
  <%= render partial: "/cg/dms/dm", collection: (Cg::Dm.where(dm_group_id: @dm_group.id)), locals: { user: @user } %>
</div>
<%= render partial: '/cg/dms/new_form', locals: { dm_group: @dm_group } %>
