<div class="cg-app-demo">
  <div class="video-group">
    <h2 class="box-title">CuteGift紹介</h2>
    <div class="demo-main-videos d-flex align-content-start flex-wrap">
      <div class="embed-responsive">
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="video-group">
    <h2 class="box-title">シェア手順</h2>
    <div class="demo-flow-videos d-flex align-content-start flex-wrap">
      <div class="embed-responsive">
        <h3>ステップ１</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive">
        <h3>ステップ２</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive">
        <h3>ステップ３</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="video-group">
    <h2 class="box-title">その他の手順</h2>
    <div class="demo-other-videos d-flex align-content-start flex-wrap">
      <div class="embed-responsive">
        <h3>テスト</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive">
        <h3>テスト</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive">
        <h3>テスト</h3>
        <iframe src="https://drive.google.com/file/d/13Na4BJ3NKnAuawEFk3el4Fo90AvfggVU/preview" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <h2>スライド</h2>
  <div class="">
    <iframe src="https://drive.google.com/file/d/1V-nLB9hXEo7K8F0jmO3H4B2PZDnxMww2/preview" width="640" height="480"></iframe>
    <iframe src="https://drive.google.com/file/d/1lW0PLEbZmHwALLl5zJ1OuVZnIjSPFySe/preview" width="640" height="480"></iframe>
  </div>
</div>
