<div id='cgTitle'>
  <h1>CuteGift</h1>
  <h1><%= @user.name %>さん</h1>
  <h2>home画面</h2>
</div>
<hr>
<div class="container">
  <h3>おすすめ情報</h3>
  <div style = "background-color:#ffc107" >
    <h4>人気ホスト</h4>
    <ul>
      <% Cg::User.all.where.not(id: @user.id).each do |user| %>
      <li><a href="<%= show_path username: user.username %>"><%= user.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
