<h1>CuteGift</h1>
<style media="screen">
  #loginLink{
    text-align: center;
  }
  #loginLink a{
    margin: 20px auto;
    padding: 20px;
  }
  #loginLink .btn{
    font-size: 36px;
  }
</style>
<h1>PetsTweetへようこそ</h1>
<p>あはは</p>
<Hr>
<div class="container" id="loginLink">
  <a href="/users/login">
    <button class="btn btn-primary">今すぐ始める</button>
  </a>
</div>
<hr>
<div class="container">
<ul>
  <li id='aaa'>
    aaa
  </li>
  <li id='bbb'>
    bbb
  </li>
  <li id='ccc'>
    ccc
  </li>
</ul>
</div>
<script>
  $("#aaa").click(function(){
    console.log('aaa');
  });
</script>
