<div id='cgTitle'>
  <h1>CuteGift</h1>
  <h1>PetsTweetへようこそ</h1>
  <h2>top画面</h2>
</div>
<Hr>
<div class="container" id="loginLink">
  <a href="/users/login">
    <button class="btn btn-primary">今すぐ始める</button>
  </a>
</div>
<hr>
<div class="container" style="height:500px">
<ul>
  <li id='aaa'>
    aaa
  </li>
  <li id='bbb'>
    bbb
  </li>
  <li id='ccc'>
    ccc
  </li>
</ul>
</div>
