<% mine = user.id == dm.user.id %>
<div class="dm-<%= mine ? 'my' : 'other' %>">
  <figure class="icon">
    <img src="<%=dm.user.icon %>" alt="<%=dm.user %>のアイコン">
  </figure>
  <div class="text">
    <%= dm.content %>
  </div>
</div>
