<%= form_with model: Cg::Dm.new(), url: cg_dms_create_path(dm_group.id) do |f| %>
  <div class="form-group text">
    <%= f.text_field :content, class: 'form-control', id: 'text_field' %>
  </div>
  <%= f.button '送信', type:'submit', class: 'btn btn-primary', id: 'submit_btn' %>
<% end %>
<script>
  $(function(){
    if ($("#text_field").val().length == 0) {
      $("#submit_btn").prop("disabled", true);
    }
    $("#text_field").on("keydown keyup keypress change", function() {
      if ($(this).val().length == 0) {
        $("#submit_btn").prop("disabled", true);
      } else {
        $("#submit_btn").prop("disabled", false);
      }
    });
  });
</script>
