<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <ul class="navbar-nav list-inline">
          <li><a href="<%= index_path %>">ホーム</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">サービス</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">サイトマップ</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-3">
        <address>
          <dl>
            <dt>Bootstrapで作るレスポンシブWEBデザイン</dt>
            <dd>〒131-0000 東京都墨田区押上0-1-2</dd>
            <dd>Tel 03-1234-5678 Fax 03-1234-5678</dd>
            <dd>東京スカイツリー駅より徒歩1分</dd>
            <dd>月～金　AM 9:00 ～ PM 5:00 日曜・祝日定休</dd>
          </dl>
        </address>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright &copy; SmartApp Engineering Office All rights reserved.
  </div>
</footer>
