<div id="footer">
 <p>present by <a href="http://webch.org/" target="_blank">Layout Gallery</a>.
 Copyright © Your Site Name. All rights reserved.</p>
 <div>
 <a href="">リンク</a>｜<a href="">リンク</a>｜<a href="">リンク</a>
 </div>
</div>
