<footer>
  <div class="row">
    <div class="col-sm-4">
      <div class="app-title pull-right">
      <p class="app-title-font">ペットの癒しをすぐそこに</p>
      <%= image_tag('icon/logo/title_1.png', class: 'img-responsive') %>
      <p>Copyright (C) SmartApp</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="widget">
        <h5 class="widget-title font-alt">安心して利用してもらうために</h5>
        <ul class="icon-list">
          <li><a href="#">シェアホストの声</a></li>
          <li><a href="#">シェアユーザの声</a></li>
          <li><a href="#">CuteGiftの想い</a></li>
          <li><a href="#">安心と安全</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="widget">
        <h5 class="widget-title font-alt">ヘルプ</h5>
        <ul class="icon-list">
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">キャンセルポリシー</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">特定商取引に基づく表示</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>