<footer>
  <div class="row">
    <div class="col-sm-5">
      <div class="widget">
        <h5 class="widget-title font-alt">CuteGift</h5>
        <p>作成：SmartApp</p>
        <p>電話番号: +1 234 567 89 10</p>Fax: +1 234 567 89 10
        <p>メールアドレス:<a href="#">somecompany@example.com</a></p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="widget">
        <h5 class="widget-title font-alt">サイトマップ</h5>
        <ul class="icon-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Top</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="widget">
        <h5 class="widget-title font-alt">ヘルプ</h5>
        <ul class="icon-list">
          <li><a href="#">ペットをシェアしてほしい方</a></li>
          <li><a href="#">ペットをシェアしたい方</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
