<style media="screen">
  .navbar-default .navbar-nav li a{
    font-size: 1.75rem;
  }
</style>

<ul class="nav navbar-nav">
  <% if session[:login_state] == 'OK' %>
    <li><a href="<%= mypage_root_path %>">マイページ</a></li>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">シェアについて<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">シェアとは？</a></li>
      <li><a href="#">おすすめ</a></li>
      <li><a href="#">利用規約</a></li>
      <% if share_info_flag %>
        <li role="separator" class="divider"></li>
        <li><a href="<%= share_list_path %>">シェアリスト</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">シェア履歴</a></li>
      <% end %>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav search_area">
  <li>
    <%= link_to image_tag("icon/etc/b_42.png",:size => "25x25")%>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="">やることリスト</a></li>
    <li><a href="">スケジュール</a></li>
</ul>
