<style media="screen">
  .navbar-default .navbar-nav li a{
    font-size: 1.75rem;
  }
  .form1{
    position: relative;
    max-width: 270px;
    margin-bottom: 15px;
  }
  .sbox{
    left: 0;
    top: 0;
    outline: 0;
    width: 200px;
    height: 45px;
    padding: 0 10px;
    border: none;
    background: #eee;
  }
  .sbtn{
    width: 75px;
    height: 45px;
    left: 270px;
    top: 0;
    background: cyan;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .sbtn:hover{
    color: #666;
  }
  .search_category{
    background: #eee;
    height: 45px;
    border-right: solid 2px lightgray;
  }
  .search_area{
    border: solid 5px lightgray;
    border-radius: 10px;
  }
</style>

<ul class="nav navbar-nav">
  <% if session[:login_state] == 'OK' %>
    <li><a href="<%= mypage_root_path %>">マイページ</a></li>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">シェアについて<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">シェアとは？</a></li>
      <li><a href="#">おすすめ</a></li>
      <li><a href="#">利用規約</a></li>
      <% if share_info_flag %>
        <li role="separator" class="divider"></li>
        <li><a href="<%= share_list_path %>">シェアリスト</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">シェア履歴</a></li>
      <% end %>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav search_area">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle search_category" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">検索カテゴリ<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">ペットの種類から探す</a></li>
      <li><a href="#">場所から探す</a></li>
    </ul>
  </li>
  <li>
    <form class="form">
      <input class="sbox"  type="text" placeholder="キーワードを入力">
      <button type="submit" class="sbtn">検索</button>
    </form>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="">やることリスト</a></li>
    <li><a href="">スケジュール</a></li>
</ul>
