<% user = session_user %>
<ul class="nav navbar-nav">
  <% if login_flag %>
    <li><a href="<%= cg_users_path user.username %>">マイページ</a></li>
  <% end %>
  <li><a href="<%= cg_shares_root_path %>">シェアリスト</a></li>
</ul>
<% if login_flag %>
  <ul class="nav navbar-nav search_area">
    <li>
      <%= link_to image_tag("icon/etc/b_42.png",size: '25x25'), cg_searchs_root_path()%>
    </li>
  </ul>
<% end %>
