<% user = session_user %>
<ul class="nav navbar-nav search_area">
  <li>
    <%= link_to image_tag("icon/etc/menubar_to_home.png",size: '100x100'), controller: 'cg_app', action: 'index'%>
  </li>
</ul>
<ul class="nav navbar-nav">
  <% if login_flag %>
    <li>
      <%= link_to image_tag("icon/etc/menubar_to_mypage.png",size: '100x100'), cg_users_path(user.username)%>
    </li>
  <% end %>
  <li>
    <%= link_to image_tag("icon/etc/menubar_to_sharelist.png",size: '100x100'), cg_shares_root_path()%>
  </li>
</ul>
<% if login_flag %>
  <ul class="nav navbar-nav search_area">
    <li>
      <%= link_to image_tag("icon/etc/menubar_to_search.png",size: '100x100'), cg_searchs_root_path()%>
    </li>
  </ul>
<% end %>
