<% user = session_user %>
<ul class="nav navbar-nav">
  <% if login_flag %>
    <li><a href="<%= cg_users_path user.username %>">マイページ</a></li>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">シェアについて<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">シェアとは？</a></li>
      <li><a href="#">おすすめ</a></li>
      <li><a href="#">利用規約</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="<%= cg_shares_root_path %>">シェアリスト</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">シェア履歴</a></li>
    </ul>
  </li>
</ul>
<% if login_flag %>
  <ul class="nav navbar-nav search_area">
    <li>
      <%= link_to image_tag("icon/etc/b_42.png",size: '25x25'), cg_searchs_root_path()%>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="">やることリスト</a></li>
      <li><a href="">スケジュール</a></li>
  </ul>
<% end %>
