

    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                CuteGift
            </a>
        </li>
        <li>
            <%= image_tag("icon/person/b_12.png",:size => "40x40")%>

        </li>
        <% if session[:login_state] == 'OK' %>
        <li><a href="<%= mypage_root_path %>">マイページ</a></li>
        <% end %>
        <li>
            <a href="#">ランキング</a>
        </li>
        <li>
            <a href="#">新着</a>
        </li>
        <li>
            <a href="#">イベント</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">シェアについて<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">シェアとは？</a></li>
            <li><a href="#">おすすめ</a></li>
            <li><a href="#">利用規約</a></li>
            <% if share_info_flag %>
              <li role="separator" class="divider"></li>
              <li><a href="<%= share_list_path %>">シェアリスト</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">シェア履歴</a></li>
            <% end %>
          </ul>
        </li>
        <% if session[:login_state] == 'OK' %>
          <li><a href="<%= change_user_mode_path(user_mode: "HOST") %>">ホストユーザーに変更</a></li>
        <% else %>
          <li><a href="/CuteGift/login">Login</a></li>
        <% end %>
        <li>
            <a href="#">設定</a>
        </li>
        <li>
            <a href="#">ヘルプ</a>
        </li>
        <li>
            <a href="#">ご意見、ご要望</a>
        </li>
        <li>
          <a href="#">お知らせ</a>
        </li>
    </ul>

<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
