@import "../mixin";

.space {
  height: 400px;
}

.inside{
  width: 80%;
}

.carousel-control.left{
  background-image: unset;
}

.carousel-control.right{
  background-image: unset;
}

.carousel-inner{
  .item{
    img{
      width: 70%;
      height: 400px;
    }

    .carousel-caption{
      right: 30%;
      left: 30%;
      padding: 0.5rem 1rem;
      margin: 2rem 0;
      color: #5d627b;
      background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
  }
}

#cg_title {
  margin: 20px;
}

//index.html.erbより
.slide {
  background: #ffd8a0;
  border-radius: 20px;
  margin: 20px 0px;
  text-align: center;
  padding: 5px;

  img {
    width: 80%;
    height: auto;
  }

  &.active {
    background-color: white;
    animation: backcoloranim-a 0.8s ease 0s 1 normal;

    .login-link {
      background-color: white;
    }
  }

  &.disable {
    background-color: #e8fce5;
    animation: backcoloranim-d 0.8s ease 0s 1 normal;
  }

  .login-link {
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px;
    font-size: 30px;
    color: gray;
    width: 400px;
    background-color: #0000001c;
    box-shadow: black 0 0 5px;

    &:hover {
      text-decoration: none;
      background-color: #c5c5c5;
    }
  }
}

@keyframes backcoloranim-a {
  0% {
    background-color: #e8fce5;
  }
  100% {
    background-color: white;
  }
}

@keyframes backcoloranim-d {
  0% {
    background-color: white;
  }
  100% {
    background-color: #e8fce5;
  }
}

/* from home.html.erb */
.cg-app-home{

  .work-caption{
    .work-title{
      font-size:7rem;
    }

    .work-descr{
      font-size:4rem;
    }
  }

  .title-box{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 600px;
    color: #5d627b;
    border-bottom: solid 5px $color-main-thema;

    h1{
      text-align: center;
    }
  }
}
