// Place all the styles related to the cg/cgApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #576a8c;
}
body hr {
  border-top: 1px solid #576a8c;
}
.container {
  background-color: #576a8c;
  color: white;
  padding: 20px;
}
.container hr {
  border-top: 1px solid white;
}
.space {
  height: 400px;
}
#loginLink {
  text-align: center;
}
#loginLink a {
  margin: 20px auto;
  padding: 20px;
}
#loginLink .btn {
  font-size: 36px;
}
#cgTitle {
  margin: 20px;
}
