body {
  background-color: #C7DDAE;
  overflow-x: hidden;
  color: #576a8c;

  hr {
    border-top: 1px solid #576a8c;
  }
  
  &.HOST {
    background-color: #A5D1F4;
  }
}

.navbar-default{
  border: double 5px #FFFFFF;
  background: linear-gradient(to bottom,#fff0 0,#ffffffd1 100%);
}

.icon{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: white;
  border: solid 1px gray;
}

.container {
  background-color: #576a8c;
  color: white;
  padding: 20px;
  width: auto;

  hr {
    border-top: 1px solid white;
  }
}

footer {
  clear: both;
  background-color: #C7DDAE;
  bottom: 0px;
  padding: 15px 5px 0 5px;
  color: gray;
  font-size: 12px;
}

.container-fluid {
  background-color: transparent;
  color: gray;
}

.copyright {
  text-align: left;
  font-size: 90%;
}

.error_message {
  background-color: #ffc7c7;
  color: black;
  width: 80%;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
}

#pageContent {
  margin: 50px 0;
  min-height: 550px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px white;
  max-width: 800px;
}

.title_logo {
  width: 350px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

@mixin side-color {
  height: 100%;
  width: 50px;
  margin-left: auto;
  background-color: #C7DDAE;
}

.side_right_color {
  @include side-color;
}

.side_left_color {
  @include side-color;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;

  #sidebar-wrapper {
    width: 250px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f8f4e6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      color: #999999;

      &:hover {
        text-decoration: none;
        color: lightgray;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;

  a {
    color: #999999;

    &:hover {
      color: lightgray;
      background: none;
    }
  }
}

.btn-secondary {
  position: fixed;            /* ヘッダーの固定 */
  top: 30px;                   /* 位置(上0px) */
  right: 30px;                 /* 位置(右0px) */
  background-color: lightgray;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
