@import "../mixin";

.pets-mypage{
  @include page-common;
  .edit-prof {
    text-align: right;
  }
}

.pets-show{
  @include page-common;
  .square-btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #5e8d29;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #8a9d74;
    border-radius: 3px;

    &:active {
      -ms-transform: translateY(4px);
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-top: solid 4px transparent;
      border-bottom: none;
    }
  }

  .pet-user {
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    height: 65px;
    display: inline-block;
    margin-right: auto;
    background-color: #ffffff9c;

    .icon {
      width: 50px;
      height: 50px;
    }
  }
}

.pets-new{
  @include page-common;
  .back-page{
     text-align: right;
     margin-top: 15px;
  }

  img{
    margin-bottom: 10px;
  }
}

.pets-edit{
  @include page-common;

  .share-info-edit {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    color: gray;
    background: #e5f6ff;
    border-top: solid 10px #00a6ff;

    p {
        margin: 0;
        padding: 0;
    }
  }

  .pet-info-edit {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    color: gray;
    background: #f4f4f4;
    border-top: solid 10px #5bb7ae;

    p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: gray;
    }
  }

  .submit-btn {
    height: 30px;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #FFF;
    background: $color-main-thema;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;

    &:hover {
      border-bottom: solid 2px #fd9535;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
  }

  .submit-area{
    text-align: right;
  }

  input[type=radio]{
    &:after {
     display: block;
     content: '';
     background: white;
     border: $color-main-thema 2px solid;
     position: unset;
     width: 1.2rem;
     height: 1.2rem;
     border-radius: 3px;
    }

    &:checked:after{
      background: $color-main-thema;
    }
  }

  .radio {
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    display: inline-block;
    margin: 0 20px 8px 0;
    padding: 12px 12px 12px 35px;
    border-radius: 8px;
    background-color: #f6f7f8;
    vertical-align: middle;
    cursor: pointer;
    position: unset;

    input[type=radio]{
      position: unset;
      margin-right: 1rem;
    }

    &:hover {
      background-color: #ffecd1;

      &:after {
        border-color: #53b300;
      }
    }
  }

  .category-select{
    label{
      margin-left: 0.3rem;
    }
  }
}
