//from mypage.html.erb
.box_wrapper {
  width: 85%;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .profile_icon {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1, h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
}

.edit_prof {
  text-align: right;
}

.pet_detail {
  margin-top: 50px;
  
  p {
    text-align: left;
  }
}

.pet_detail tr.empty {
  background-color: #fce6e6;
}

.share_info {
  text-align: center;
  width: 28rem;
  padding: 3px;
  background-color: #c2f5ba;
  margin-left: auto;
  margin-bottom: 20px;
  border: solid 2px gray;
  border-radius: 30px;
  font-size: 24px;

  &_false {
    background-color: #bcd4f4;
  }
}

// from show.html.erb
.box_wrapper {
  width: 85%;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .profile_icon {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1, h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.pet_detail {
  margin-top: 50px;

  p {
    text-align: center;
  }
}

.share_info {
  text-align: center;
  width: 28rem;
  padding: 3px;
  background-color: #c2f5ba;
  margin-left: auto;
  margin-bottom: 20px;
  border: solid 2px gray;
  border-radius: 30px;
  font-size: 24px;

  &_false {
    background-color: #bcd4f4;
  }
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #5e8d29;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #8a9d74;
  border-radius: 3px;

  &:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-top: solid 4px transparent;
    border-bottom: none;
  }
}

.pet_user {
  border: solid 2px white;
  border-radius: 10px;
  padding: 5px;
  height: 65px;
  display: inline-block;
  margin-right: auto;
  background-color: #ffffff9c;

  .icon {
    width: 50px;
    height: 50px;
  }
}