<h1>シェア一覧_ホスト</h1>
<hr>
<% if share_info_flag %>
  <% if @shares.present? %>
    <ul>
      <% @shares.each do |share| %>
      <a href="<%= share_show_path share.id %>">
        <li>
          id:<%= share.id %> :
          <strong><%= share.user.name %></strong>と
          <strong><%= share.pet.name %></strong>のシェア
        </li>
      </a>
      <% end %>
    </ul>
  <% else %>
    <p>~shared nothing~</p>
  <% end %>
<% else %>
  <p>シェア条件を満たしていません</p>
<% end %>
