footer {
  clear: both;
  background-color: #C7DDAE;
  bottom: 0px;
  padding: 15px 5px 0 5px;;
  color: gray;
  font-size: 12px;

  .navbar-nav li {
    a {
      text-align: center;
      color: #fff;
      padding-left: 0.5em;
      text-decoration: underline;
    }

    a:hover {
      color: #dcdcdc;
    }
  }

  a{
    color: gray;
  }
}

.container-fluid{
  background-color: #C7DDAE;
  color: gray;
}

.copyright {
  text-align: left;
  font-size: 90%
}
.error_message {
  background-color: #ffc7c7;
  color: black;
  width: 80%;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
}
#pageContent {
  background-color: #FFFFFF;
  margin: 50px 0;
  min-height: 550px;
  width:1050px;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}

.title_logo{
  width:300px;
  height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side_right_color{
  height:100%;
  width:50px;
  margin-left: auto;
  background-color: #C7DDAE;
}

.side_left_color{
  height:100%;
  width:50px;
  margin-right: auto;
  background-color: #C7DDAE;
}
