body {
  background-color: #C7DDAE;
  overflow-x: hidden;
  color: #576a8c;
  hr {
    border-top: 1px solid #576a8c;
  }

  &.HOST {
    background-color: #A5D1F4;
  }
}

.navbar-default{
  border: double 5px #FFFFFF;
  background-color: #C7DDAE;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: white;
    border: solid 1px gray;
}

.container {
  background-color: #576a8c;
  color: white;
  padding: 20px;
  width: auto;

  hr {
    border-top: 1px solid white;
  }
}
