<div class="shares-show">
  <%= render partial: 'show_info', locals: { share: @share } if @share.present? %>
  <div class="box-wrapper">
    <h1>シェア詳細</h1>
    <h2>状態：<%= @share.info.value %></h2>
    <% if @share.present? && @form.present? %>
      <%= render partial: @form, locals: { share: @share } %>
    <% else %>
      <p>error</p>
    <% end %>
  </div>
</div>
