<div class="shares-list">
  <div class="share-user-list">
    <%= render partial: 'cg/shares/user/list', locals: { user: @user } %>
  </div>
  <div class="share-host-list">
    <%= render partial: 'cg/shares/host/list', locals: { user: @user } %>
  </div>
</div>