<% if @share.present? %>
  <% link = @to_page == 'HOST' ? 'cg/shares/host/show' : 'cg/shares/user/show' %>
  <%= render partial: link, locals: { share: @share } %>
<% else %>
  <p>error</p>
<% end %>
