<div class="shares-show">
  <div class="box-wrapper">
    <% if @share.present? %>
      <%= render partial: @to_page, locals: { share: @share } %>
    <% else %>
      <p>error</p>
    <% end %>
  </div>
</div>
